<template>
  <div class="about">
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
           <div class="card">
              <div class="card-body" v-for="(name,index) of users " :key="index">
                 <h5 class="card-title">Nombre: {{name.Name }}</h5>
                 <h5 class="card-title">UserName: {{name.username }}</h5>
                 <h5 class="card-title">Email: {{name.email }}</h5>
              </div>
           </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data(){
    return{
      users : []
    }
  },
  created(){
    this.getUsers();
  },
  methods:{
    getUsers(){
      this.axios.get('/app-users')
        .then(res=>{
          this.users = res.data
          console.log(this.users)
        }).catch(err=>{
          console.log(err);
        })
    },
  }
}
</script>
