<template>
  <div class="home">
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="mt-2 col-md-8">
          <div class="card card-form">
            <div class="card-body">
              <h2 class="card-title">Registro de Usuarios</h2>
              <form @submit.prevent="addUser">
                <div class="form-group">
                   <input type="text" class="form-control" placeholder="LastName" v-model="user.LastName">
                </div>
                <div class="form-group">
                   <input type="text" class="form-control" placeholder="Name" v-model="user.Name">
                </div>
                <div class="form-group">
                   <input type="number" class="form-control" placeholder="IsMilitar" v-model="user.IsMilitar">
                </div>
                <div class="form-group">
                   <input type="text" class="form-control" placeholder="UserName" v-model="user.username">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password" v-model="user.password">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Email" v-model="user.email">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="EmailVerified" v-model="user.emailVerified">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Verification Token" v-model="user.verificationToken">
                </div>
                <p style="color:red">{{this.message}}</p>
                <button type='submit' class="btn btn-outline-secondary float-right" >Guardar</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
/* import HelloWorld from '@/components/HelloWorld.vue' */

export default {
  name: 'HomeView',
  components: {
    //HelloWorld
  },
  data(){
    return{
      users:[],
      user:{LastName:'',Name:'',IsMilitar:null,username:'',password:'',email:'',emailVerified:'',verificationToken:''},
      message:null
    }
  },
  methods:{
    addUser(){
      this.axios.post('/app-user',this.user)
        .then(res=>{
          /* console.log(res.data.user) */
          this.users.push(res.data.user);
          alert('DATA GUARDADA');
        }).catch(err=>{
          this.message = err.response.data.msg
          console.log(this.message);
        })
    }
  }
}
</script>
<style scoped>
  .card-form{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
</style>